.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  outline: none;
}

.play-ground {
  position: relative;
  margin-top: 20px;
  border: 5px solid rgb(179, 170, 170);
  width: 600px;
  height: 600px;
  overflow: hidden;
}
.images-container {
  position: absolute;
  transition: all ease-in-out 1.2s;
}

.snake-square {
  border: 1px solid rgb(228, 216, 216);
  width: 30px;
  height: 30px;
  background-color: green;
  animation: appear 0.5s;
}

.snake-container {
  position: absolute;
  animation: appear 0.5s;
}

.background-image {
  position: absolute;
  width: 600px;
  height: 600px;
  opacity: 0.8;
}

.lost-modal {
  z-index: 99;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 45%;
  left: 50%;
  font-weight: bold;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 200px;
  height: 100px;
  border: 5px solid rgb(179, 170, 170);
}
.speed-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.speed-choice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  text-align: center;
  cursor: pointer;
  border: 5px solid rgb(231, 225, 225);
  border-radius: 16px;
  padding: 10px;
  margin-left: 10px;
  transition: all 0.3s;
  box-sizing: border-box;
}
.speed-choice:hover {
  background-color: green;
  color: white;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
